body{
    background-color:chocolate;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand{
    color:rgb(5, 44, 42);
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color:rgb(5, 44, 42);
}

#sss span{
    color: darkblue;
}

@media (max-width:1200px){
    body{
        background-color: darkgray  ;
    }
}